body {
	font-family: sans-serif;
}

form {
	margin-bottom:1.5rem;
}

#show-chart {
	float: right;

}

#chart-close-button {
	padding-left: 0px !important;
	padding-right: 0px !important;	
}

#chart {
	opacity: .85;
	width: 100vw;
}


#feedback {
	margin-bottom: 1.5rem;
}

#japanese{
	border: solid thin;
	font-size: 4rem;
	margin-bottom: 1.5rem;
	text-align:center;
	padding: 2rem;
}

.chart {
	margin-left: 30px;
}

.chart-cell {
	text-align: center;
	padding:.25rem;
	border:solid thin;
	width:100%;
}

.chart-cell-jp {
	margin-bottom:.25rem;
}

.chart-cell-en {
	font-size:.9rem;;
	color: #fff;
	background-color: #000;
	padding-top.5rem;
	padding-bottom.5rem;	
}

.grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    justify-items: center;
}

.translate-grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 10px 10px;
    justify-items: center;
}

.container {
	display:grid;
	justify-content: center;
	margin-top:1rem;
}

.card {
	border: none !important;
}

.card-header {
	background-color: transparent !important;
	border: none !important;

	justify-content: right;
	display: flex;
}

.card-footer {
	background-color: transparent !important;
	border: none !important;
	justify-content: center;
	display: flex;
}

#close-header {
	position:fixed;
	top:25px;
}

#chart-wrapper {
	position:relative;
}

#translate {
	border: solid thin;
	
}

@media (min-width: 900px) {

	#japanese {
		font-size:10rem;
	}
	
	.chart-cell-jp {
		font-size:3rem;
	}

	#chart {
		width: 50vw !important;
	}
}
