body {
	font-family: sans-serif;
}

form {
	margin-bottom:1.5rem;
}

#chart {
	opacity: .85;
}


#feedback {
	margin-bottom: 1.5rem;
}

#japanese{
	border: solid thin;
	font-size: 4rem;
	margin-bottom: 1.5rem;
	text-align:center;
	padding: 2rem;
}

.chart-cell {
	text-align: center;
	padding:.25rem;
	border:solid thin;
}

.chart-cell-jp {
	font-size: large;
	margin-bottom:.25rem;
}

.chart-cell-en {
	font-size:small;
	color: #ccc;
}

.grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    justify-items: center;
}

.container {
	display:grid;
	justify-content: center;
	margin-top:1rem;
}

.card {
	border: none !important;
}

.card-header {
	background-color: transparent !important;
	border: none !important;
	justify-content: right;
	display: flex;
}

.card-footer {
	background-color: transparent !important;
	border: none !important;
	justify-content: center;
	display: flex;
}
