body {
	font-family: sans-serif;
}

form {
	margin-bottom:1.5rem;
}

#feedback {
	margin-bottom: 1.5rem;
}

#japanese{
	border: solid thin;
	min-height: 20vh;
	font-size: 4rem;
	width: 15vw;
	margin-bottom: 1.5rem;
}

.chart-cell {
	text-align: center;
	padding:.25rem;
	border:solid thin;
}

.chart-cell-jp {
	font-size: large;
	margin-bottom:.25rem;
}

.chart-cell-en {
	font-size:small;
	color: #ccc;
}

.grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    justify-items: center;
}
